body {
    font-family:sans-serif;
}

.sideBar {
    position:fixed;
    height : 100%;
    width : 150px;
    right : -145px;
    border-style : solid;
    border-width : 2px;
    border-radius : 10px;
    background-color:white;
    padding-left:10px;
}
.dataBox {
    border-style : solid;
    border-width : 2px;
    border-radius: 10px;
    display: inline-block;
}
.statusBar {
    background-color : #999;
    display : absolute;
    top : 0;
    left : 0;
    width : inherit;
    height : 50px;
    text-align:center;
    color:white;
    font-size:40px;
}
.selected {
    background-color:green;
}
.officerList {
    width : 95px;
    float: right;
    text-align : left;
}
td {
    text-align:center;
}
textarea {
    resize : none;
    
}
#popup {
    border-style:solid;
    border-radius:10px;
    background-color:black;
    color:white;
    position:absolute;
    padding:5px;
    left: -500px;
    top: -500px;
    width:200px;
}